
.song-detail-info{
  display: flex;
  font-size: 12px;
  padding: 30px;
  .cover{
    margin-right: 30px;
  }

  .info{
    flex: 1;
  }

  .title-info{
    .type{
      border: 1px solid $base-color;
      color: $base-color;
      padding: 2px 5px;
      border-radius: 2px;
      margin-right: 10px;
    }
    .title{
      font-size: 20px;
      vertical-align: middle;
    }
  }

  .tags-info{
    margin-top: 10px;
    .name{
      color: #387adc;
    }
  }

  .user-info{
    margin-top: 10px;
    &>*{
      margin-right: 10px;
    }
    .user-name{
      color: #387adc;
    }
  }

  .count-info{
    margin-top: 10px;
  }

  .description-info{
    margin-top: 10px;
    font-size: 12px;
    position: relative;
    span{
      color: $description-font-color;
    }

    &.description-info-close{
      @include ellipsis(2);
    }

    .open{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

//歌曲列表
.song-detail-list{
  .heart, .download{
    color: $font-color;
    opacity: 0.7;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
  .heart{
    margin-right: 5px;
  }
  .song-title{
    display: flex;
    align-items: center;
  }
  .song-name{
    //flex: 1;
    @include ellipsis(1);
  }
  .album{
    @include ellipsis(1);
  }
  .sq, .mv{
    color: $base-color;
    margin-left: 5px;
    vertical-align: middle;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  .mv{
    cursor: pointer;
  }
}
