
@mixin ellipsis($line){
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  //white-space:nowrap;
  display: -webkit-box;
  //display: -webkit-inline-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}
