
$animation-time: 0.2s!default;

$base-color: #db3937!default;
$base-active-color: #db3937!default;
$base-background-color: #ededed!default;

$font-color: #3c3c3c!default;
$font-active-color: $base-active-color!default;


$main-min-width: 764px!default;
$main-max-width: 1040px!default;



$header-height: 50px!default;
$footer-height: 60px!default;

$left-nav-width: 200px!default;

$footer-z-index: 1!default;
$header-z-index: 1!default;

$left-nav-item-height: 36px!default;
$left-nav-background-color: #ededed!default;
$left-nav-hover-background-color: #e7e7e7!default;
$left-nav-font-color: $font-color!default;
$left-nav-selected-font-color: $base-active-color!default;
$left-nav-group-font-color: #999999!default;


$carousel-height: 200px!default;