
.ivu-table-cell{
  padding-left: 8px;
  padding-right: 8px;
}

.ivu-table-header thead tr th{
  padding: 0;
  height: 35px;
  cursor: default;
  &:hover{
    background-color: #f2f2f3;
  }
}

.ivu-table-small td{
  height: 35px;
}
